# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output

# exclude everything inside dist/
dist/**

# include dist/packages folder (just the folder),
# then include any folder inside dist/packages
# finally, include all package.json files directly inside a folder inside packages
!dist/packages/
!dist/packages/*/
!dist/packages/*/package.json

tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Next.js
.next
